In [1]:
import mysql.connector

In [41]:
cnx = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="*",
    database = "library")
cnx

In [21]:
cursor = cnx.cursor()
cursor

In [23]:
# find the number of availalbe copies of the book (Dracula)
# check total copies of the book
cursor.execute('''
               select Title, count(*) as availalbe_copies_of_Dracula from books
               where Title = 'Dracula';
               ''')
cursor.fetchall()

[('Dracula', 3)]

In [25]:
# current total loans of the book 
cursor.execute('''
                  select b.Title, count(*) Loaned_copies_of_Dracula from books as b
                  inner join loans as a
                  on b.BookID = a.BookID
                  where b.Title = 'Dracula';
               ''')
cursor.fetchall()

[('Dracula', 32)]

In [26]:
# total available books of dracula
cursor.execute('''
                select sum(copies_of_Dracula) as total_copies_of_Dracula from
                (select count(*) as copies_of_Dracula from books
                where Title = 'Dracula'
                union 
                select count(*) as copies_of_Dracula from books as b
                inner join loans as a
                on b.BookID = a.BookID
                where b.Title = 'Dracula') as new_table;
               ''')
cursor.fetchall()

[(Decimal('35'),)]

In [31]:
# /*******************************************************/
# /* Add new books to the library                        */
# /*******************************************************/
cursor.execute('''
INSERT INTO Books (BookID,Title,Author,Published,Barcode)
VALUES (202,'Fabless: The Transformation of the Semiconductor Industry','Daniel Nenni',2014,1497525047);
               ''')

In [32]:
cursor.execute('''
              select * from books
              order by BookID desc;
               ''')
cursor.fetchall()

[(202,
  'Fabless: The Transformation of the Semiconductor Industry',
  'Daniel Nenni',
  2014,
  1497525047),
 (201,
  'Semiconductor Physics And Devices: Basic Principles',
  'Donald A. Neamen',
  2011,
  73529583),
 (200, "A Doll's House", 'Henrik Ibsen', 1879, 2719805876),
 (199, 'Anna Karenina', 'graf Leo Tolstoy', 1878, 6318181860),
 (198, "A Doll's House", 'Henrik Ibsen', 1879, 6227932647),
 (197, 'Hard Times', 'Charles Dickens', 1854, 6616502217),
 (196,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  5859811018),
 (195, 'Metamorphosis', 'Franz Kafka', 1915, 8949930384),
 (194, 'The Tale of Peter Rabbit', 'Beatrix Potter', 1901, 5705857485),
 (193, 'Candide', 'Voltaire', 1759, 9718482110),
 (192, 'The Turn of the Screw', 'Henry James', 1898, 9586004168),
 (191, 'Emma', 'Jane Austen', 1815, 5913123586),
 (190, 'Adventures of Huckleberry Finn', 'Mark Twain', 1884, 3766010638),
 (189, 'The Jungle Book', 'Rudyard Kipling', 1894, 2183505735),
 (188,
  'Tractatus Logico-Philosophicus',
  'Ludwig Wittgenstein',
  1921,
  3733674722),
 (187, 'Don Quixote', 'Miguel de Cervantes Saavedra', 1605, 3750235511),
 (186, 'Pride and Prejudice', 'Jane Austen', 1813, 9229256777),
 (185, 'Don Quixote', 'Miguel de Cervantes Saavedra', 1605, 3037774000),
 (184, 'Ulysses', 'James Joyce', 1922, 7973290433),
 (183, 'Little Women', 'Louisa May Alcott', 1869, 3806008380),
 (182,
  "Grimms' Fairy Tales",
  'Jacob Grimm and Wilhelm Grimm',
  1858,
  7433732302),
 (181, 'Sense and Sensibility', 'Jane Austen', 1811, 7712942206),
 (180,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  5880488254),
 (179, 'Anna Karenina', 'graf Leo Tolstoy', 1878, 3570685469),
 (178, 'The Secret Garden', 'Frances Hodgson Burnett', 1911, 8157982611),
 (177, 'The Call of the Wild', 'Jack London', 1905, 3119888447),
 (176, 'The Jungle', 'Upton Sinclair', 1906, 2932680848),
 (175, 'The Time Machine', 'H. G. Wells', 1895, 1291355714),
 (174, 'A Modest Proposal', 'Jonathan Swift', 1729, 7708090276),
 (173, 'Wuthering Heights', 'Emily Brontë', 1847, 2847748801),
 (172, "Uncle Tom's Cabin", 'Harriet Beecher Stowe', 1852, 1944291114),
 (171, 'The Call of the Wild', 'Jack London', 1905, 7523202583),
 (170, 'A Tale of Two Cities', 'Charles Dickens', 1859, 1396589796),
 (169, 'Second Treatise of Government', 'John Locke', 1689, 5647388501),
 (168, "Pascal's Pensées", 'Blaise Pascal', 1670, 1688834109),
 (167, 'Anne of Green Gables', 'L. M. Montgomery', 1908, 6951820908),
 (166,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson',
  1886,
  1388191607),
 (165, 'The Turn of the Screw', 'Henry James', 1898, 2119519594),
 (164,
  'The Hound of the Baskervilles',
  'Arthur Conan Doyle',
  1902,
  7500891493),
 (163, 'The Mysterious Affair at Styles', 'Agatha Christie', 1920, 3833130645),
 (162, 'Pride and Prejudice', 'Jane Austen', 1813, 8156410777),
 (161, 'The Prince', 'Niccolò Machiavelli', 1532, 9323491902),
 (160, 'The War of the Worlds', 'H. G. Wells', 1898, 4474735051),
 (159,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Jerome K. Jerome',
  1889,
  3293874630),
 (158, 'Moby Dick; Or, The Whale', 'Herman Melville', 1851, 8158837759),
 (157, 'Les Misérables', 'Victor Hugo', 1895, 9108696047),
 (156,
  'The Life and Adventures of Robinson Crusoe',
  'Daniel Defoe',
  1791,
  3650881744),
 (155, 'The Prophet', 'Kahlil Gibran', 1923, 9013040583),
 (154,
  'An Occurrence at Owl Creek Bridge',
  'Ambrose Bierce',
  1890,
  8301235528),
 (153,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  8839302214),
 (152, 'Anne of Green Gables', 'L. M. Montgomery', 1908, 4550745199),
 (151, 'Second Treatise of Government', 'John Locke', 1689, 6979338785),
 (150, 'The Secret Garden', 'Frances Hodgson Burnett', 1911, 2438574546),
 (149,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  2054382275),
 (148, 'War and Peace', 'graf Leo Tolstoy', 1869, 9348938616),
 (147, 'The Adventures of Tom Sawyer', 'Mark Twain', 1876, 4750599556),
 (146, 'Metamorphosis', 'Franz Kafka', 1915, 6978078350),
 (145, 'Oliver Twist', 'Charles Dickens', 1839, 6444030057),
 (144, 'Pride and Prejudice', 'Jane Austen', 1813, 9131059093),
 (143,
  "Gulliver's Travels into Several Remote Nations of the World",
  'Jonathan Swift',
  1726,
  5394770992),
 (142,
  'The Decameron of Giovanni Boccaccio',
  'Giovanni Boccaccio',
  1375,
  3609260747),
 (141,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Jerome K. Jerome',
  1889,
  6572731534),
 (140,
  "Gulliver's Travels into Several Remote Nations of the World",
  'Jonathan Swift',
  1726,
  8923446356),
 (139, 'Peter Pan', 'J. M. Barrie', 1911, 2588073202),
 (138, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 6652171593),
 (137, "Alice's Adventures in Wonderland", 'Lewis Carroll', 1865, 3946912387),
 (136, 'The Wonderful Wizard of Oz', 'L. Frank Baum', 1900, 1471501105),
 (135, 'A Tale of Two Cities', 'Charles Dickens', 1859, 8996747227),
 (134, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9535295098),
 (133, 'Treasure Island', 'Robert Louis Stevenson', 1883, 2952281573),
 (132, 'War and Peace', 'graf Leo Tolstoy', 1869, 5605187849),
 (131, 'War and Peace', 'graf Leo Tolstoy', 1869, 9585335549),
 (130, 'Peter Pan', 'J. M. Barrie', 1911, 5135424406),
 (129,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  8880867275),
 (128, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 3664785630),
 (127, 'David Copperfield', 'Charles Dickens', 1850, 8525488511),
 (126,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  9895378062),
 (125, 'Candide', 'Voltaire', 1759, 6478624379),
 (124,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  7776442868),
 (123, 'The Mysterious Affair at Styles', 'Agatha Christie', 1920, 7280027397),
 (122, 'Metamorphosis', 'Franz Kafka', 1915, 7205341627),
 (121, 'The Mysterious Affair at Styles', 'Agatha Christie', 1920, 9303804404),
 (120, 'Dubliners', 'James Joyce', 1914, 3639380140),
 (119, 'The Tale of Peter Rabbit', 'Beatrix Potter', 1901, 2755886014),
 (118, 'Adventures of Huckleberry Finn', 'Mark Twain', 1884, 5259319712),
 (117, 'The Time Machine', 'H. G. Wells', 1895, 7267049081),
 (116, 'The Brothers Karamazov', 'Fyodor Dostoyevsky', 1880, 3310765031),
 (115, 'Hard Times', 'Charles Dickens', 1854, 3242500932),
 (114, 'The Wonderful Wizard of Oz', 'L. Frank Baum', 1900, 9562452329),
 (113, 'On the origin of species', 'Charles Darwin', 1859, 3102441408),
 (112, 'The War of the Worlds', 'H. G. Wells', 1898, 7919408621),
 (111,
  'The Decameron of Giovanni Boccaccio',
  'Giovanni Boccaccio',
  1375,
  2485650954),
 (110,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson',
  1886,
  6219262708),
 (109, 'Emma', 'Jane Austen', 1815, 6733484219),
 (108, "Pascal's Pensées", 'Blaise Pascal', 1670, 5350687892),
 (107, 'Little Women', 'Louisa May Alcott', 1869, 1965826731),
 (106, 'Wuthering Heights', 'Emily Brontë', 1847, 4592191348),
 (105, 'The Turn of the Screw', 'Henry James', 1898, 6435968624),
 (104, 'On the origin of species', 'Charles Darwin', 1859, 9362177222),
 (103, 'Moby Dick; Or, The Whale', 'Herman Melville', 1851, 6616753388),
 (102, 'Hard Times', 'Charles Dickens', 1854, 6674338548),
 (101, 'Anna Karenina', 'graf Leo Tolstoy', 1878, 8754465846),
 (100, 'The Jungle Book', 'Rudyard Kipling', 1894, 9443427576),
 (99, 'Little Women', 'Louisa May Alcott', 1869, 3945560004),
 (98, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6854696214),
 (97,
  'The Life and Adventures of Robinson Crusoe',
  'Daniel Defoe',
  1791,
  8830076797),
 (96, 'A Study in Scarlet', 'Arthur Conan Doyle', 1887, 3312061309),
 (95,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  7133340991),
 (94,
  'Walden, and On The Duty Of Civil Disobedience',
  'Henry David Thoreau',
  1849,
  8026944492),
 (93, 'Great Expectations', 'Charles Dickens', 1861, 4043822646),
 (92, "Alice's Adventures in Wonderland", 'Lewis Carroll', 1865, 8015835428),
 (91,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  9067533454),
 (90, 'The Jungle', 'Upton Sinclair', 1906, 9012348841),
 (89,
  'Walden, and On The Duty Of Civil Disobedience',
  'Henry David Thoreau',
  1849,
  1250001073),
 (88, 'Ulysses', 'James Joyce', 1922, 9050461909),
 (87,
  'Frankenstein; Or, The Modern Prometheus',
  'Mary Wollstonecraft Shelley',
  1818,
  5100740849),
 (86, 'Siddhartha', 'Hermann Hesse', 1922, 9816358488),
 (85, 'Pygmalion', 'Bernard Shaw', 1913, 3028132298),
 (84,
  'Tractatus Logico-Philosophicus',
  'Ludwig Wittgenstein',
  1921,
  7953286250),
 (83, 'Emma', 'Jane Austen', 1815, 3338413705),
 (82, 'Sense and Sensibility', 'Jane Austen', 1811, 3382858636),
 (81,
  "Grimms' Fairy Tales",
  'Jacob Grimm and Wilhelm Grimm',
  1858,
  2956935227),
 (80, 'Jane Eyre: An Autobiography', 'Charlotte Brontë', 1847, 5181168830),
 (79, 'A Study in Scarlet', 'Arthur Conan Doyle', 1887, 4735557481),
 (78, 'The Prophet', 'Kahlil Gibran', 1923, 9731317241),
 (77, 'The Prophet', 'Kahlil Gibran', 1923, 5516789160),
 (76, 'Jane Eyre: An Autobiography', 'Charlotte Brontë', 1847, 7490708197),
 (75, 'Moby Dick; Or, The Whale', 'Herman Melville', 1851, 3254901352),
 (74,
  'The Strange Case of Dr. Jekyll and Mr. Hyde',
  'Robert Louis Stevenson',
  1886,
  5456105629),
 (73, 'Dracula', 'Bram Stoker', 1897, 8730298424),
 (72, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 8015869193),
 (71, 'A Tale of Two Cities', 'Charles Dickens', 1859, 4966189808),
 (70,
  'Also sprach Zarathustra',
  'Friedrich Wilhelm Nietzsche',
  1896,
  8233453745),
 (69, 'Siddhartha', 'Hermann Hesse', 1922, 4524773001),
 (68, 'The Count of Monte Cristo', 'Alexandre Dumas', 1884, 1750433521),
 (67, 'Les Misérables', 'Victor Hugo', 1895, 6502926567),
 (66, 'The Count of Monte Cristo', 'Alexandre Dumas', 1884, 3303490694),
 (65, 'The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 7064200431),
 (64, 'A Study in Scarlet', 'Arthur Conan Doyle', 1887, 6146781316),
 (63, 'Treasure Island', 'Robert Louis Stevenson', 1883, 9985114885),
 (62, 'Oliver Twist', 'Charles Dickens', 1839, 9103557294),
 (61, 'The Call of the Wild', 'Jack London', 1905, 5092202901),
 (60, 'Dracula', 'Bram Stoker', 1897, 4274716715),
 (59, 'The War of the Worlds', 'H. G. Wells', 1898, 7360406327),
 (58,
  "Grimms' Fairy Tales",
  'Jacob Grimm and Wilhelm Grimm',
  1858,
  9481016995),
 (57, 'The Brothers Karamazov', 'Fyodor Dostoyevsky', 1880, 1591595018),
 (56, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 5057915174),
 (55, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6432246701),
 (54, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 2503974912),
 (53, "Uncle Tom's Cabin", 'Harriet Beecher Stowe', 1852, 7816127580),
 (52, 'David Copperfield', 'Charles Dickens', 1850, 6705736665),
 (51, 'Dubliners', 'James Joyce', 1914, 9924891502),
 (50, 'Jane Eyre: An Autobiography', 'Charlotte Brontë', 1847, 3641717422),
 (49, "Alice's Adventures in Wonderland", 'Lewis Carroll', 1865, 9617441017),
 (48, 'The Hound of the Baskervilles', 'Arthur Conan Doyle', 1902, 7367316687),
 (47, 'Anne of Green Gables', 'L. M. Montgomery', 1908, 5419570516),
 (46, 'Sense and Sensibility', 'Jane Austen', 1811, 5677520613),
 (45, 'The Secret Garden', 'Frances Hodgson Burnett', 1911, 9948565822),
 (44, 'Pygmalion', 'Bernard Shaw', 1913, 6340638269),
 (43, 'The Yellow Wallpaper', 'Charlotte Perkins Gilman', 1892, 7476179474),
 (42, 'The Prince', 'Niccolò Machiavelli', 1532, 6151512619),
 (41, 'The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 8329029559),
 (40,
  'Three Men in a Boat (To Say Nothing of the Dog)',
  'Jerome K. Jerome',
  1889,
  4746758842),
 (39, 'The Adventures of Tom Sawyer', 'Mark Twain', 1876, 1493041269),
 (38, 'Dubliners', 'James Joyce', 1914, 6886459965),
 (37, "A Doll's House", 'Henrik Ibsen', 1879, 3039350069),
 (36, 'Great Expectations', 'Charles Dickens', 1861, 9050209500),
 (35, 'The Brothers Karamazov', 'Fyodor Dostoyevsky', 1880, 1218723292),
 (34, 'The Tale of Peter Rabbit', 'Beatrix Potter', 1901, 5748337449),
 (33, 'Peter Pan', 'J. M. Barrie', 1911, 2793883256),
 (32, 'The Wonderful Wizard of Oz', 'L. Frank Baum', 1900, 9402443064),
 (31,
  "Gulliver's Travels into Several Remote Nations of the World",
  'Jonathan Swift',
  1726,
  4649890037),
 (30, 'On the origin of species', 'Charles Darwin', 1859, 6010636156),
 (29, 'A Modest Proposal', 'Jonathan Swift', 1729, 3056621645),
 (28, 'Heart of Darkness', 'Joseph Conrad', 1899, 2229312049),
 (27, 'Wuthering Heights', 'Emily Brontë', 1847, 9622357787),
 (26,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  6117891368),
 (25,
  'The Life and Adventures of Robinson Crusoe',
  'Daniel Defoe',
  1791,
  7614272194),
 (24, 'Candide', 'Voltaire', 1759, 1026835475),
 (23, 'Great Expectations', 'Charles Dickens', 1861, 5314419343),
 (22, 'Adventures of Huckleberry Finn', 'Mark Twain', 1884, 8537695057),
 (21, 'The Prince', 'Niccolò Machiavelli', 1532, 2656649474),
 (20, 'Treasure Island', 'Robert Louis Stevenson', 1883, 8563911061),
 (19, 'Heart of Darkness', 'Joseph Conrad', 1899, 9334362486),
 (18, 'The Jungle Book', 'Rudyard Kipling', 1894, 3655763446),
 (17, 'Les Misérables', 'Victor Hugo', 1895, 8252831254),
 (16, 'Ulysses', 'James Joyce', 1922, 1472300125),
 (15, 'The Time Machine', 'H. G. Wells', 1895, 9610930110),
 (14,
  'The Awakening, and Selected Short Stories',
  'Kate Chopin',
  1899,
  3103139173),
 (13, 'Oliver Twist', 'Charles Dickens', 1839, 3071366111),
 (12, 'Dracula', 'Bram Stoker', 1897, 8232533734),
 (11, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 2855934983),
 (10, 'The Count of Monte Cristo', 'Alexandre Dumas', 1884, 1799238621),
 (9, "Uncle Tom's Cabin", 'Harriet Beecher Stowe', 1852, 1874764443),
 (8,
  'The Importance of Being Earnest: A Trivial Comedy for Serious People',
  'Oscar Wilde',
  1895,
  4733732465),
 (7, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9615072124),
 (6, 'A Modest Proposal', 'Jonathan Swift', 1729, 9675136364),
 (5, 'David Copperfield', 'Charles Dickens', 1850, 8821265677),
 (4, 'The Adventures of Tom Sawyer', 'Mark Twain', 1876, 7813216705),
 (3,
  'The Adventures of Sherlock Holmes',
  'Arthur Conan Doyle',
  1892,
  2411676280),
 (2, 'The Scarlet Letter', 'Nathaniel Hawthorne', 1850, 4589408958),
 (1,
  'Walden, and On The Duty Of Civil Disobedience',
  'Henry David Thoreau',
  1849,
  3100471153)]

In [33]:
# /*******************************************************/
# /* Check out Books: books(4043822646, 2855934983) whose patron_email(jvaan@wisdompets.com), loandate=2020-08-25, duedate=2020-09-08, loanid=by_your_choice*/
# /*
cursor.execute('''
                  select * from books as b
                  inner join loans as l on b.BookID = l.BookID
                  inner join patrons as p on p.PatronID = l.PatronID
                  where b.Barcode in (4043822646, 2855934983)
                  and
                  p.Email = "jvaan@wisdompets.com"
                  and
                  l.LoanDate = "2020-08-25"
                  and
                  l.DueDate = "2020-09-08";
                ''')
cursor.fetchall()

[]

In [34]:
# /********************************************************/
# /* Check books for Due back                             */
# /* generate a report of books due back on July 13, 2020 */
# /* with patron contact information                      */
# /********************************************************/
cursor.execute('''
                  select * from books as b
                  inner join loans as l on b.BookID = l.BookID
                  inner join patrons as p on p.PatronID = l.PatronID
                  where l.DueDate = '2020-07-13';
                ''')
cursor.fetchall()

[(10,
  'The Count of Monte Cristo',
  'Alexandre Dumas',
  1884,
  1799238621,
  1996,
  10,
  99,
  '2020-06-29',
  '2020-07-13',
  None,
  'Kala',
  'Simonian',
  'ksimonian2q@landonhotel.com',
  99),
 (155,
  'The Prophet',
  'Kahlil Gibran',
  1923,
  9013040583,
  1997,
  155,
  47,
  '2020-06-29',
  '2020-07-13',
  None,
  'Lydie',
  'Awmack',
  'lawmack1a@samoca.org',
  47),
 (169,
  'Second Treatise of Government',
  'John Locke',
  1689,
  5647388501,
  1998,
  169,
  18,
  '2020-06-29',
  '2020-07-13',
  None,
  'Anthe',
  'Dinjes',
  'adinjesh@samoca.org',
  18),
 (73,
  'Dracula',
  'Bram Stoker',
  1897,
  8730298424,
  1999,
  73,
  59,
  '2020-06-29',
  '2020-07-13',
  None,
  'Cornelia',
  'Koppe',
  'ckoppe1m@landonhotel.com',
  59)]

In [35]:
# /*******************************************************/
# /* Return books to the library (which have barcode=6435968624) and return this book at this date(2020-07-05)                    */
# /*******************************************************/
cursor.execute('''
                  select * from books as b
                  inner join loans as l on b.BookID = l.BookID 
                  where b.Barcode = 6435968624
                  and
                  l.ReturnedDate = '2020-07-05';
                ''')
cursor.fetchall()

[]

In [36]:
# /*******************************************************/
# /* Encourage Patrons to check out books                */
# /* generate a report of showing 10 patrons who have
# checked out the fewest books.                          */
# /*******************************************************/

cursor.execute('''
                  select p.FirstName, p.LastName, p.Email, p.PatronID, count(*) as total_loaned_books from books as b
                  inner join loans as l on b.BookID = l.BookID
                  inner join patrons as p on p.PatronID = l.PatronID
                  group by p.PatronID
                  order by total_loaned_books, p.PatronID
                  limit 10;
               ''')
cursor.fetchall()

[('Alaster', 'Ruggles', 'aruggles1w@red30design.com', 69, 9),
 ('Caril', 'Matejic', 'cmatejic2a@orangevalleycaa.org', 83, 9),
 ('Merle', 'Sukbhans', 'msukbhans20@orangevalleycaa.org', 73, 11),
 ('Norby', 'Sleight', 'nsleight1r@kinetecoinc.com', 64, 12),
 ('Curr', 'Fittall', 'cfittall2l@orangevalleycaa.org', 94, 12),
 ('Jack', 'Vaan', 'jvaan@wisdompets.com', 50, 13),
 ('Aleen', 'Fasey', 'afasey2@kinetecoinc.com', 3, 14),
 ('Cammi', 'Kynett', 'ckynett6@orangevalleycaa.org', 7, 14),
 ('Orton', 'Stavers', 'ostaversb@orangevalleycaa.org', 12, 14),
 ('Carla', 'Swinfen', 'cswinfenf@kinetecoinc.com', 16, 14)]

In [37]:
# /*******************************************************/
# /* Find books to feature for an event                  
#  create a list of books from 1890s that are
#  currently available                                    */
# /*******************************************************/
cursor.execute('''
                  select * from books
                  where Published = 1890;
               ''')
cursor.fetchall()

[(7, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9615072124),
 (11, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 2855934983),
 (55, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6432246701),
 (56, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 5057915174),
 (98, 'An Occurrence at Owl Creek Bridge', 'Ambrose Bierce', 1890, 6854696214),
 (128, 'The Picture of Dorian Gray', 'Oscar Wilde', 1890, 3664785630),
 (134, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 9535295098),
 (138, 'The Sign of the Four', 'Arthur Conan Doyle', 1890, 6652171593),
 (154,
  'An Occurrence at Owl Creek Bridge',
  'Ambrose Bierce',
  1890,
  8301235528)]

In [38]:
# /*******************************************************/
# /* Book Statistics 
# /* create a report to show how many books were 
# published each year.                                    */
# /*******************************************************/
cursor.execute('''
                  select Published, count(distinct(Title)) as total_books_published from books
                  group by Published
                  order by total_books_published desc;
               ''')
cursor.fetchall()

[(1890, 3),
 (1895, 3),
 (1847, 2),
 (1850, 2),
 (1859, 2),
 (1869, 2),
 (1884, 2),
 (1892, 2),
 (1898, 2),
 (1899, 2),
 (1911, 2),
 (1922, 2),
 (1811, 1),
 (1813, 1),
 (1815, 1),
 (1818, 1),
 (1839, 1),
 (1759, 1),
 (1849, 1),
 (1851, 1),
 (1852, 1),
 (1854, 1),
 (1858, 1),
 (1861, 1),
 (1865, 1),
 (1876, 1),
 (1878, 1),
 (1879, 1),
 (1880, 1),
 (1883, 1),
 (1532, 1),
 (1886, 1),
 (1887, 1),
 (1889, 1),
 (1605, 1),
 (1670, 1),
 (1894, 1),
 (1689, 1),
 (1896, 1),
 (1897, 1),
 (1726, 1),
 (1729, 1),
 (1900, 1),
 (1901, 1),
 (1902, 1),
 (1905, 1),
 (1906, 1),
 (1908, 1),
 (1375, 1),
 (1913, 1),
 (1914, 1),
 (1915, 1),
 (1920, 1),
 (1921, 1),
 (1791, 1),
 (1923, 1),
 (2011, 1),
 (2014, 1)]

In [39]:
# /*************************************************************/
# /* Book Statistics                                           */
# /* create a report to show 5 most popular Books to check out */
# /*************************************************************/
cursor.execute('''
                  select b.Title, count(*) as borrowed_copies_per_book from books as b
                  inner join loans as l on b.BookID = l.BookID
                  group by b.Title
                  order by borrowed_copies_per_book desc
                  limit 5;
               ''')
cursor.fetchall()

[('Frankenstein; Or, The Modern Prometheus', 53),
 ('The Awakening, and Selected Short Stories', 43),
 ('The War of the Worlds', 43),
 ('The Scarlet Letter', 42),
 ('The Picture of Dorian Gray', 39)]